//>>>>> Component Button Here <<<<<//
.gt-theme-btn {
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    -webkit-appearance: none;
    border: none;
    outline: none !important;
    padding: 22px 32px;
    background-color: $gt-theme-color;
    font-family: "Kanit", sans-serif;
    font-size: 16px;
    color: $gt-white;
    text-align: center;
    font-weight: 600;
    line-height: 1;
    border-radius: 0;
    z-index: 1;
    transition: all 500ms ease;
    text-transform: uppercase;

    i {
      margin-left: 8px;
      transition: all 500ms ease;
    }

    .shotfit-btn__text {
      position: relative;
      color: inherit;
      z-index: 1;
      transition: all 150ms ease;
    }

    .shotfit-btn__hover {
      display: block;
      width: calc(20% + 0.2px);
      height: 100%;
      position: absolute;
      top: 0;
      opacity: 1;
      -webkit-transform: translateY(101%);
      transform: translateY(101%);
      background-color: $gt-header-color;
      -webkit-transition: all 0.3s ease 0s;
      transition: all 0.3s ease 0s;
    }

    .shotfit-btn__hover--1 {
      left: 0;
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s;
    }

    .shotfit-btn__hover--2 {
      left: 20%;
      -webkit-transition-delay: 0.2s;
      transition-delay: 0.2s;
    }

    .shotfit-btn__hover--3 {
      left: 40%;
      -webkit-transition-delay: 0.3s;
      transition-delay: 0.3s;
    }

    .shotfit-btn__hover--4 {
      left: 60%;
      -webkit-transition-delay: 0.4s;
      transition-delay: 0.4s;
    }

    .shotfit-btn__hover--5 {
      left: 80%;
      -webkit-transition-delay: 0.5s;
      transition-delay: 0.5s;
    }

    &.style-border {
       .shotfit-btn__hover {
          background-color: $gt-theme-color;
        }

        &:hover {
          border: 1px solid $gt-theme-color !important;
        }
    }

    &:hover {
      i {
        transform: rotate(45deg);
      }
      .shotfit-btn__hover {
          transform: translateY(0);
        }
    }
}


.link-btn {
    font-size: 16px;
    font-weight: 700;
    display: inline-block;
    font-family: 'Barlow', sans-serif;
    text-transform: capitalize;
    color: $gt-white;
    position: relative;
    padding-left: 25px;

    &::after {
        position: absolute;
        top: 2px;
        left: 0;
        content: "\e902";
        color: $gt-theme-color;
        font-family: 'icomoon' !important;
    }

    &:hover {
        color: $gt-theme-color;
    }
}

//>>>>> Component Button End <<<<<//

