//>>>>> Header Main Start <<<<<//
.menu-thumb {
	@include breakpoint (max-xl){
		display: none !important;
	}
}

.header-main {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
	
	.main-menu {
		ul {
			margin-bottom: 0;

			li {
				position: relative;
				list-style: none;
				display: inline-block;
				margin-inline-end: 45px;
	
			&:last-child {
				margin-inline-end: 0;
			}
	
			a {
				display: inline-block;
				font-size: 16px;
				font-weight: 500;
				color:  $gt-white;
                font-family: $gt-heading-font;
				padding: 20px 0;
				text-align: left;
				position: relative;
				text-transform: uppercase;
				@include transition;

				i {
					margin-left: 4px;
                    font-size: 14px;
				}
	
				&:hover {
					color: $gt-theme-color !important;
				}
	
			}
			.submenu {
				position: absolute;
				top: 115%;
				inset-inline-start: 0;
				min-width: 240px;
				background: $gt-white;
				padding: 20px 0;
				z-index: 99999;
				visibility: hidden;
				opacity: 0;
				transform-origin: top center;
				color: $gt-header-color;
				transform: translateY(-10px);
				@include transition;
				border-top: 6px solid $gt-theme-color;
				box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

				li {
					display: block;
					width: 100%;
					margin: 0;
					
	
					a {
						position: relative;
						z-index: 11;
						font-size: 16px;
						font-weight: 500;
						color: $gt-header-color;
						line-height: 38px;
   						padding: 0px 0px 0px 32px;
                        padding-right: 22px;
						width: 100%;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

						&::before {
							content: "";
							position: absolute;
							width: 0px;
							height: 2px;
							background: $gt-theme-color;
							left: 14px;
							bottom: 18px;
							transition: all 0.4s ease-in-out;
						}

						&:hover {
							color: $gt-theme-color !important;
						}
					}
					&:last-child {
						a {
							border: none;
						}
					}
					.submenu {
						inset-inline-start: 100%;
						top: 0;
						visibility: hidden;
						opacity: 0;
					}
					&:hover {
						>a {
							color: $gt-theme-color !important;
							margin-left: 10px;

							&::before {
								width: 10px;
							}

							&::after {
								color: $gt-theme-color;
							}
						}
						>.submenu {
							-webkit-transform: translateY(1);
							-moz-transform: translateY(1);
							-ms-transform: translateY(1);
							-o-transform: translateY(1);
							transform: translateY(1);
							visibility: visible;
							opacity: 1;
						}
					}
				}
				li.has-dropdown {
					>a {
						&::after {
							position: absolute;
							top: 50%;
							inset-inline-end: 25px;
							-webkit-transform: translateY(-50%);
							-moz-transform: translateY(-50%);
							-ms-transform: translateY(-50%);
							-o-transform: translateY(-50%);
							transform: translateY(-50%);
							color: $gt-theme-color;
						}
					}
				}
			}

			.has-homemenu {
				width: 800px;
				padding: 30px 30px 10px 30px;
				opacity: 0;
				left: -250px;
				visibility: hidden;
				padding: 30px 30px 10px 30px;

				.homemenu-items {
					@include flex;
					gap: 30px;
					justify-content: space-between;

					@include breakpoint (max-lg){
						flex-wrap: wrap;
					}

					.homemenu {
						position: relative;
						.homemenu-thumb {
							position: relative;
	
							.demo-button {
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
								width: 100%;
								gap: 10px;
								display: flex;
								justify-content: center;
								flex-direction: column;
								opacity: 0;
								visibility: hidden;
								@include transition;
								margin-top: 20px;
								
								.gt-theme-btn {
									padding: 0;
									height: 50px;
									line-height: 50px;
									color: $gt-white;
									text-align: center;
									justify-content: center;
									margin: 0 30px;
									width: calc(100% - 60px);

									&:hover {
										color: $gt-white !important;
									}
								}
								
							}
	
							&::before {
								background: -webkit-gradient(linear, left top, left bottom, from(rgba(20, 19, 19, 0)), to(#5e5ef6));
								background: linear-gradient(to bottom, rgba(99, 92, 92, 0) 0%, #252527 100%);
								background-repeat: no-repeat;
								background-size: cover;
								background-position: center;
								width: 100%;
								height: 100%;
								position: absolute;
								left: 0;
								top: 0;
								overflow: hidden;
								opacity: 0;
								-webkit-transition: all 0.3s ease-in-out;
								transition: all 0.3s ease-in-out;
								content: "";
							}
							&:hover{
	
								&::before {
									visibility: visible;
									opacity: 1;
								}
	
								.demo-button {
									opacity: 1;
									visibility: visible;
									margin-top: 0;
								}
								& .homemenu-btn {
									opacity: 1;
									visibility: visible;
									bottom: 50%;
									transform: translateY(50%);
								}
							}
							img {
								width: 100%;
							}
						}
	
						.homemenu-title {
							text-align: center;
							margin: 15px auto;
							display: inline-block;
							font-size: 18px;
                            font-weight: 600;
                            font-family: $gt-heading-font;
							text-transform: uppercase;
						}
					}
				}
			}
			
			&:hover {
				>a {
					color:  $gt-theme-color;

					&::after {
						color:  $gt-theme-color;
					}
				}
				>.submenu {
					visibility: visible;
					opacity: 1;
					transform: translateY(0px);
				}
			  }
			}
		}
	}

	.header-right {
		gap: 30px;

		@include breakpoint (max-xxl){
			gap: 20px;
		}

	}

	.sidebar__toggle {
		cursor: pointer;
		font-size: 20px;
	}
}


//>>>>> Header 01 Start <<<<<//
.header-1 {
	position: relative;
	z-index: 99999;

   .container-fluid {
        padding: 0 155px;

        @include breakpoint(max-xl4){
            padding: 0 40px;
        }

        @include breakpoint(max-xxl){
            padding: 0 40px;
        }

        @include breakpoint(max-xl){
            padding: 0 30px;
        }

		@include breakpoint (max-sm){
			padding: 0 12px;
		}
   }

	.logo {
		@include breakpoint (max-md){
            img {
				width: 170px;
			}
        }

		@include breakpoint (max-xxs){
            img {
				width: 130px;
			}
        }
	}

	.logo-2 {
		@include breakpoint (max-xxl){
			display: block !important;
		}

		@include breakpoint (max-md){
            img {
				width: 170px;
			}
        }

		@include breakpoint (max-xxs){
            img {
				width: 130px;
			}
        }
	}

    .sidebar__toggle {
        cursor: pointer;
    
        .header-bar {
            color: $gt-white;
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            border-radius: 100px;
            border: 1px solid rgba(205, 206, 208, 0.32);

			@include breakpoint (max-sm){
				width: 42px;
				height: 42px;
				line-height: 42px;
				font-size: 14px;
			}
        }
    }

    .header-right {
        gap: 18px;

		@include breakpoint (max-sm){
			gap: 9px;
		}

        .search-toggler,.cart-icon {
            color: $gt-white;
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            border-radius: 100px;
            border: 1px solid rgba(205, 206, 208, 0.32);

            &:hover {
                background-color: $gt-theme-color;
                color: $gt-white;
            }

			@include breakpoint (max-sm){
				width: 42px;
				height: 42px;
				line-height: 42px;
				font-size: 14px;
			}
        }

        .gt-theme-btn {
            height: 56px;
            line-height: 56px;
            padding: 0 32px;

			@include breakpoint (max-xxl){
				display: none;
			}
            &:hover {
                color: $gt-header-color;
            }

            .shotfit-btn__hover {
                background-color: $gt-white;
            }
        }
    }
}

.header-section-1 {
    position: relative;
    background-color: #1D2229;

    &::before {
        @include before;
		background-color: $gt-theme-color;
		width: 25%;
        z-index: 1;

		@include breakpoint (max-xxxl){
			width: 16%;
		}

		@include breakpoint (max-xxl){
			display: none;
		}
    }

    &::after {
        @include before;
        background-color: $gt-white;
        height: 37%;
        width: 82%;
        clip-path: polygon(0 19%, 0 0, 38% 0%, 71% 0%, 100% 0, 100% 0, 97% 106%, 100% 104%, 100% 29%, 100% 100%, 0 100%, 0 48%);

		@include breakpoint (max-xxl){
			display: none;
		}
    }

    .main-logo {
        position: relative;
        z-index: 9;

		@include breakpoint (max-xxl){
			display: none;
		}

		@include breakpoint (max-xxxl){
			img {
				width: 160px;
			}
		}
    }

    .header-main-wrap-1 {
        @include flex;
        gap: 160px;

		@include breakpoint (max-xxxl){
			gap: 80px;
		}
    }

    .header-main-wrap-right {
        width: 100%;
        position: relative;
        z-index: 99;

        .head-top-wrapper {
            @include flex;
            justify-content: space-between;
            padding: 10px 0;

			@include breakpoint (max-xl){
				display: none;
			}

            .gt-top-left {
                @include flex;
                gap: 30px;

                li {
                    color: $gt-text-color;
					
					@include breakpoint (max-xxl){
						color: $gt-white;
					}

                    a {
                        color: $gt-text-color;

						@include breakpoint (max-xxl){
							color: $gt-white;
						}
                    }

                    i {
                        color: $gt-theme-color;
                        margin-right: 5px;
                    }
                }
            }

            .gt-social-icon {
                gap: 25px;

                a {
                    font-size: 20px;
                    color: $gt-white;

                    &:hover {
                        color: $gt-theme-color;
                    }
                }
            }
        }
    }
}

.header-section-2 {
	position: relative;
	z-index: 9999;
	margin-bottom: -65px;

	@include breakpoint (max-xl){
		margin-bottom: 0;
	}

	&::before {
		@include before;
		background-color: #1D2229;
		z-index: -1;
		height: 77%;

		@include breakpoint (max-xl){
			display: none;
		}
	}

	.container-fluid {
        padding: 0 120px;

        @include breakpoint(max-xl4){
            padding: 0 40px;
        }

        @include breakpoint(max-xxl){
            padding: 0 40px;
        }

        @include breakpoint(max-xl){
            padding: 0 30px;
        }

		@include breakpoint (max-sm){
			padding: 0 12px;
		}
    }
}

.header-top-wrapper-2 {
	@include flex;
	justify-content: space-between;
	padding: 18px 0;

	.gt-social-icon {
		gap: 20px;
		span {
			font-size: 20px;
			font-weight: 500;
			font-family: $gt-heading-font;
			color: $gt-white;
		}

		a {
			font-size: 20px;
			color: $gt-white;

			&:hover {
				color: $gt-theme-color;
			}
		}
	}

	 .gt-top-left {
		@include flex;
		gap: 30px;

		li {
			color: $gt-white;
			
			@include breakpoint (max-xxl){
				color: $gt-white;
			}

			a {
				color: $gt-white;

				@include breakpoint (max-xxl){
					color: $gt-white;
				}
			}

			i {
				color: $gt-theme-color;
				margin-right: 5px;
			}
		}
	}
}

.header-2 {
	position: relative;

	.logo {
		@include breakpoint (max-xxs){
			img {
				width: 150px;
			}
		}
	}

	.mega-menu-wrapper {
		background-color: $gt-white;
		padding-left: 32px;
		padding-right: 32px;

		@include breakpoint (max-xl){
			padding-left: 0;
			padding-right: 0;
		}
	}

	.header-main {
		.main-menu {
			ul {
				li {
					a {
					color: $gt-header-color;

					&:hover {
						color: $gt-theme-color !important;
					}
					}

					.submenu {
					color: $gt-header-color;

					li {
						a {
						color: $gt-header-color;

						&:hover {
							color: $gt-theme-color !important;
						}
						}

						
						}
					}
				}
			}
		}

		.sidebar__toggle {
			cursor: pointer;
			font-size: 20px;
		}
	}

	.header-right {
        gap: 18px;

		@include breakpoint (max-sm){
			gap: 9px;
		}

        .search-toggler,.cart-icon {
            color: $gt-header-color;
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            border-radius: 100px;
           border: 1px solid rgba(205, 206, 208, 0.32);

            &:hover {
                background-color: $gt-theme-color;
                color: $gt-white;
            }

			@include breakpoint (max-sm){
				width: 42px;
				height: 42px;
				line-height: 42px;
				font-size: 14px;
			}
        }

		.sidebar__toggle {
        cursor: pointer;
    
        .header-bar {
            color: $gt-header-color;
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            border-radius: 100px;
           border: 1px solid rgba(205, 206, 208, 0.32);

			@include breakpoint (max-sm){
				width: 42px;
				height: 42px;
				line-height: 42px;
				font-size: 14px;
			}
        }
    }

        .gt-theme-btn {
            height: 56px;
            line-height: 56px;
            padding: 0 32px;

			@include breakpoint (max-xxl){
				display: none;
			}
            &:hover {
                color: $gt-header-color;
            }

            .shotfit-btn__hover {
                background-color: $gt-white;
            }
        }
    }
}

.header-3 {
	background-color: #1D2229;
	z-index: 99999;
	border-bottom: 1px solid rgba(205, 206, 208, .24);

	.logo {
		@include breakpoint (max-xxs){
			img {
				width: 150px;
			}
		}
	}

	@include breakpoint (max-xxxl){
		background-color: $gt-white;

		.header-main {
			.main-menu {
				ul {
					li {
						a {
						color: $gt-header-color;

						&:hover {
							color: $gt-theme-color !important;
						}
						}

						.submenu {
						color: $gt-header-color;

						li {
							a {
							color: $gt-header-color;

							&:hover {
								color: $gt-theme-color !important;
							}
							}

							
							}
						}
					}
				}
			}

		.sidebar__toggle {
			cursor: pointer;
			font-size: 20px;
		}
		}
	}

	.logo {
		position: relative;
		z-index: 999;
	}

	.container-fluid {
        padding: 0 100px;

        @include breakpoint(max-xl4){
            padding: 0 40px;
        }

        @include breakpoint(max-xxl){
            padding: 0 40px;
        }

        @include breakpoint(max-xl){
            padding: 0 30px;
        }

		@include breakpoint (max-sm){
			padding: 0 12px;
		}
    }

	.header-right {
        gap: 18px;
		position: relative;
		z-index: 99;

		@include breakpoint (max-sm){
			gap: 9px;
		}

        .search-toggler,.cart-icon {
            color: $gt-header-color;
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            border-radius: 100px;
           border: 1px solid rgba(205, 206, 208, 0.32);

            &:hover {
                background-color: $gt-theme-color;
                color: $gt-white;
            }

			@include breakpoint (max-sm){
				width: 42px;
				height: 42px;
				line-height: 42px;
				font-size: 14px;
			}
        }

		.sidebar__toggle {
        cursor: pointer;
    
        .header-bar {
            color: $gt-header-color;
            width: 56px;
            height: 56px;
            line-height: 56px;
            text-align: center;
            border-radius: 100px;
           border: 1px solid rgba(205, 206, 208, 0.32);

			@include breakpoint (max-sm){
				width: 42px;
				height: 42px;
				line-height: 42px;
				font-size: 14px;
			}
        }
    }

        .gt-theme-btn {
            height: 56px;
            line-height: 56px;
            padding: 0 32px;

			@include breakpoint (max-xxl){
				display: none;
			}
            &:hover {
                color: $gt-header-color;
            }

            .shotfit-btn__hover {
                background-color: $gt-white;
            }
        }
    }

	.left-shape {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;

		@include breakpoint (max-xxxl){
			display: none;
		}
		
	}

	.right-shape {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;

		@include breakpoint (max-xxxl){
			display: none;
		}

	}
}


//>>>>> Sticky Start <<<<</
.sticky {
	position: fixed !important;
	top: 0 !important;
	left: 0;
	width: 100%;
	z-index: 100;
	transition: all 0.9s;
	background-color: $gt-white;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	z-index: 999999;

	&.header-1 {
		padding: 0 30px;

		@include breakpoint (max-sm){
			padding: 0 12px;
		}

		.logo {
			display: block !important;
		}

		.logo-2 {
			@include breakpoint (max-xxl){
				display: none !important;
			}
		}

		.header-main {
			.main-menu {
				ul {
					li {
						a {
						color: $gt-header-color;

						&:hover {
							color: $gt-theme-color !important;
						}
						}

						.submenu {
						color: $gt-header-color;

						li {
							a {
							color: $gt-header-color;

							&:hover {
								color: $gt-theme-color !important;
							}
							}

							
							}
						}
					}
				}
			}

		.sidebar__toggle {
			cursor: pointer;
			font-size: 20px;
		}
		}

		.header-right {
			.search-toggler,.cart-icon {
				color: $gt-header-color;

				&:hover {
					background-color: $gt-theme-color;
					color: $gt-white;
				}
			}

			.gt-theme-btn {
				
				
				&:hover {
					color: $gt-white;
				}

				.shotfit-btn__hover {
					background-color: $gt-header-color;
				}
			}
		}

		.sidebar__toggle {
    
			.header-bar {
				color: $gt-header-color;
				border: 1px solid rgba(205, 206, 208, 0.32);
			}
		}
	}

	&.header-3 {
		.left-shape,.right-shape {
			display: none;
		}

		.header-main {
			.main-menu {
				ul {
					li {
						a {
						color: $gt-header-color;

						&:hover {
							color: $gt-theme-color !important;
						}
						}

						.submenu {
						color: $gt-header-color;

						li {
							a {
							color: $gt-header-color;

							&:hover {
								color: $gt-theme-color !important;
							}
							}

							
							}
						}
					}
				}
			}

		.sidebar__toggle {
			cursor: pointer;
			font-size: 20px;
		}
		}
	}
}

//>>>>> Offcanvas Start <<<<<//
.offcanvas__info {
	background: $gt-white none repeat scroll 0 0;
	border-left: 2px solid  $gt-theme-color;
	position: fixed;
	right: 0;
	top: 0;
	width: 400px;
	height: 100%;
	-webkit-transform: translateX(calc(100% + 80px));
	-moz-transform: translateX(calc(100% + 80px));
	-ms-transform: translateX(calc(100% + 80px));
	-o-transform: translateX(calc(100% + 80px));
	transform: translateX(calc(100% + 80px));
	-webkit-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	-moz-transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	transition: transform 0.45s ease-in-out, opacity 0.45s ease-in-out;
	z-index: 99999999;
	overflow-y: scroll;
	overscroll-behavior-y: contain;
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	.offcanvas__logo {
		img {
			width: 130px;
		}
	}
}

.offcanvas__info.info-open {
	opacity: 1;
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
}

.offcanvas__wrapper {
	position: relative;
	height: 100%;
	padding: 30px 30px;

	.offcanvas__content {
		.text {
			color: $gt-text-color;
		}

		.offcanvas__close {
			width: 45px;
			height: 45px;
			line-height: 45px;
			text-align: center;
			border-radius: 50%;
			background-color: $gt-theme-color;
			position: relative;
			z-index: 9;
			cursor: pointer;

			i {
				color: $gt-white;
			}
		}

		.offcanvas__contact {
			margin-top: 20px;

			ul {
				margin-top: 20px;

				li {
					font-size: 16px;
					font-weight: 600;
					text-transform: capitalize;

					a {
						color: $gt-text-color;
					}

					&:not(:last-child){
						margin-bottom: 15px;
					}

					.offcanvas__contact-icon {
						margin-right: 20px;

						i {
							color: $gt-theme-color;
						}
					}
				}
			}

			span {
				text-transform: initial;
			}

			.header-button {
				
				.theme-btn {
					width: 100%;
					padding: 20px 40px;
					text-transform: capitalize !important;
				}
			}

			.social-icon {
                margin-top: 30px;
                gap: 10px;

                a {
                    width: 45px;
                    height: 45px;
                    line-height: 45px;
                    text-align: center;
                    font-size: 16px;
                    display: block;
                    background: $gt-bg-color-2;
                    color: $gt-header-color;
                    -webkit-transition: all .4s ease-in-out;
                    transition: all .4s ease-in-out;
                    text-align: center;

                    &:hover {
                        background-color: $gt-theme-color;
                        color: $gt-white;
                    }
                }
            }
		}
	}
}

.offcanvas__overlay {
	position: fixed;
	height: 100%;
	width: 100%;
	background: #151515;
	z-index: 900;
	top: 0;
	opacity: 0;
	visibility: hidden;
	right: 0;
}

.offcanvas__overlay.overlay-open {
	opacity: 0.8;
	visibility: visible;
}

@media (max-width:450px) {
	.offcanvas__info {
		width: 300px;
	}
}

@media (max-width: 575px) {
	.offcanvas__wrapper {
		padding: 20px;
	}
}


//>>>>> Breadcrumb Start <<<<<//
.gt-breadcrumb-wrapper{
	position: relative;
	overflow: hidden;
    z-index: 9;

	.gt-page-heading{
		position: relative;
		padding: 160px 0 160px;
		z-index: 9;

		@include breakpoint (max-lg){
			padding: 110px 0 130px;
		}

		@include breakpoint (max-md){
			text-align: center;
			padding: 90px 0 130px;
		}

		h1 {
			color: $gt-white;
			font-size: 72px;
			position: relative;
			text-transform: capitalize;
			z-index: 9;
            font-weight: 800;
		
		
			@include breakpoint(max-md){
				font-size: 60px;
			}
		
			@include breakpoint(max-sm){
				font-size: 50px;
			}
		
			@include breakpoint(max-xxs){
				font-size: 40px;
			}

		}

		.gt-breadcrumb-items{
			display: inline-flex;
            justify-content: center;
			margin-top: 20px;
			gap: 10px;

			@include breakpoint (max-sm){
				margin-top: 15px;
			}
			
			li{
				color: $gt-white;
				text-transform: capitalize;
				font-weight: 400;
				font-size: 16px;
	
				a {
					color: $gt-white;				;
					@include transition;
	
					&:hover{
						color: $gt-theme-color;
					}

					i {
						color: $gt-theme-color;
						margin-right: 5px;
					}
				}
	
				i {
					color: $gt-white;
				}
			}
		}
	}

	.gt-breadcrumb-image {
		position: absolute;
		bottom: 0;
		top: 0;
		right: 140px;

		@include breakpoint (max-xxxl){
			right: 30px;
		}

		@include breakpoint (max-xl){
			display: none;
		}
	}
}

.gt-error-items {
	text-align: center;

	.gt-error-image {
		margin-bottom: 50px;
		position: relative;
		z-index: 9;

		@include breakpoint (max-xl) {
			margin-bottom: 40px;
		}

        img {
			@include imgw;
		}
	}

	h2 {
		margin-bottom: 20px;
	}

	p {
		margin-bottom: 48px;

		@include breakpoint (max-xl) {
			margin-bottom: 30px;
		}
	}
}