.gt-team-thumb-items {
    margin-top: 30px;
    position: relative;
    overflow: hidden;

    img {
        @include imgw;
    }

    .gt-team-content {
        background-color: $gt-theme-color;
        text-align: center;
        padding: 16px 24px;
        position: absolute;
        bottom: -100px;
        left: 40px;
        right: 40px;
        opacity: 0;
        visibility: hidden;
        @include transition;

        h3 {
            margin-bottom: 5px;

           a {
                background-position: 0 95%;
                background-repeat: no-repeat;
                background-size: 0% 2px;
                display: inline;
                color: $gt-white;
                
                &:hover {
                    color: $gt-white;
                    background-size: 100% 2px;
                    background-image: linear-gradient(180deg, $gt-white 0%, $gt-white 100%);
                }
            }
        }

        p {
            color: $gt-white;
        }
    }

    &.mt-0 {
        &:hover {
            .gt-team-content {
                bottom: 24px;
               opacity: 1;
               visibility: visible;
            }
        }
    }
}

.gt-team-section {
    position: relative;

    .swiper-slide.swiper-slide-active {
        .gt-team-thumb-items {
            .gt-team-content {
                bottom: 24px;
               opacity: 1;
               visibility: visible;
            }
        }
    }

    .gt-array-button {
        @include breakpoint (max-xxl){
            display: none;
        }

        .array-prev {
           position: absolute;
            top: 53%;
            z-index: 99;
            left: 37.5%;
            transform: translate(-50%, -50%);

            @include breakpoint (max-xxxl){
                left: 33.5%;
            }
        }

        .array-next {
           position: absolute;
            top: 53%;
            z-index: 99;
            left: 62.5%;
            transform: translate(-50%, -50%);

            @include breakpoint (max-xxxl){
                left: 33.5%;
            }
        }
    }
}


.gt-team-details-wrapper {

    .gt-thumb {

        img {
            @include imgw;
        }
    }

    .gt-details-content {
        margin-left: 40px;

        @include breakpoint (max-xl){
            margin-left: 0;
        }

        h2 {
            margin-bottom: 10px;
        }

        span {
            font-size: 18px;
            display: inline-block;
            margin-bottom: 20px;
        }

        .gt-list {
            margin-top: 20px;

            li {
                color: $gt-header-color;

                span {
                    font-size: 18px;
                    font-weight: 600;
                }

                &:not(:last-child) {
                    margin-bottom: 10px;
                }

                i {
                    color: $gt-header-color;
                    margin-right: 5px;
                }
            }
        }

        .gt-social-icon {
            margin-top: 20px;
            @include flex;
            gap: 10px;

            a {
                width: 44px;
                height: 44px;
                line-height: 44px;
                display: inline-block;
                text-align: center;
                color: $gt-header-color;
                background-color: $gt-bg-color-2;
                @include transition;

                &:hover {
                    background-color: $gt-theme-color;
                    color: $gt-white;
                }
            }
        }

          .contact-form-items {
            margin-top: 40px;

            h3 {
                font-size: 28px;
                margin-bottom: 20px;


                @include breakpoint (max-sm) {
                    font-size: 25px;
                }
            }

            .form-clt {
                input,textarea {
                    width: 100%;
                    outline: none;
                    border: none;
                    background-color: $gt-bg-color-2;
                    padding-bottom: 20px;
                    padding: 16px 20px;
                    @include transition;
                    color: $gt-text-color;
                    font-size: 16px;
                    border-radius: 0;
        
                    &::placeholder {
                        color: $gt-text-color;
                    }
                }
        
                textarea {
                    padding-bottom: 80px;
                    resize: none;
                }
            }
        
            button {
                &.gt-theme-btn {

                    span {
                        margin-bottom: 0;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

.gt-team-experience-wrapper {

    .gt-team-experience-content {

        .gt-list-item {
            margin-bottom: 10px;

            h3 {
                font-size: 36px;

                @include breakpoint (max-xl) {
                    font-size: 30px;
                }

                @include breakpoint (max-sm) {
                    font-size: 25px;
                }
            }

        }

        .gt-skill-feature-items {
            margin-top: 15px;
            max-width: 550px;

            .gt-skill-feature {
                &:not(:last-child){
                    margin-bottom: 15px;
                }

                .gt-box-title {
                    font-size: 18px;
                    font-weight: 500;
                    font-family: $gt-heading-font;
                }

                .gt-progress-value {
                    margin-bottom: 10px;
                    //margin-top: -0.5em;
                    color: $gt-header-color;
                    text-transform: capitalize;
                }
                .gt-progress {
                    position: relative;
                    height: 10px;
                    background-color: $gt-white;
                    border-radius: 0;
                    overflow: visible;
                    margin-top: 15px;
                }
            
                .gt-progress-bar {
                    background-color: $gt-theme-color;
                    height: 10px;
                    margin: 0;
                    border-radius: inherit;
                    overflow: visible;
                    position: relative;
                    margin-top: 0;
                }
                .gt-progress-value {
                    position: absolute;
                    top: -38px;
                    right: -8px;
                    font-size: 18px;
                    font-weight: 500;
                    color: $gt-header-color;
                    font-family: $gt-heading-font;
                }
            }
        }
    }

   .working-hours {
        background-color: $gt-white;
        padding: 40px 32px;
        margin-left: 40px;

        @include breakpoint (max-xxl){
            margin-left: 0;
        }

        @include breakpoint (max-sm){
            padding: 22px;
        }

        ul {
            margin-top: 25px;
            border-top: 1px solid rgba(217, 217, 217, 1);
            padding-top: 25px;

            li {
                background-color: $gt-bg-color-2;
                padding: 20px 20px;
                font-weight: 500;
                text-transform: capitalize;
                @include flex;
                 justify-content: space-between;
                 line-height: 1;

                 @include breakpoint (max-sm){
                    flex-wrap: wrap;
                    gap: 10px;
                }

                &:not(:last-child){
                    margin-bottom: 30px;
                }

                span {
                   flex-basis: 50%;

                   @include breakpoint (max-xl){
                    flex-basis: initial;
                   }
                }
            }
        }
   }
}

.gt-team-wrapper {
    @include flex;
    justify-content: space-between;
    gap: 15px;
    width: 100% !important;

    @include breakpoint (max-lg){
        flex-wrap: wrap;
        justify-content: center;
    }

    @include breakpoint (max-md){
       margin-top: 30px;
    }

    .team-box-img-2 {
        margin-top: 30px;
        width: 215px;
        height: 449px;
        position: relative;
        @include transition;
        overflow: hidden;

        @include breakpoint (max-lg){
            width: initial;
            margin-top: 0;
        }

        img {
            @include imgw;
            object-fit: cover;
        }

        .gt-social-profile {
            position: absolute;
            right: 24px;
            top: 24px;
            content: "";
            -webkit-transition: all .4s ease-in-out;
            transition: all .4s ease-in-out;
            z-index: 2;
            display: inline-block;
            overflow: hidden;

                ul {
                    transform: translateY(-100px);
                    transition: all 0.6s ease-in-out;
                    opacity: 0;
                    visibility: hidden;

                    li {
                    
                        a {
                            width: 48px;
                            height: 48px;
                            line-height: 48px;
                            text-align: center;
                            font-size: 16px;
                            display: block;
                            background: $gt-header-color;
                            color: $gt-white;
                            -webkit-transition: all .4s ease-in-out;
                            transition: all .4s ease-in-out;
                            text-align: center;
                            margin: 0 auto;
                            border-bottom: 1px solid rgba(205, 206, 208, 0.24);

                            &:hover {
                                background-color: $gt-theme-color;
                                color: $gt-white;
                            }
                        }
                    }
                }

                .plus-btn {
                    z-index: 2;
                    cursor: pointer;
                    width: 48px;
                    height: 48px;
                    line-height: 48px;
                    text-align: center;
                    font-size: 16px;
                    display: inline-block;
                    background: $gt-theme-color;
                    color: $gt-white;
                    -webkit-transition: all .3s ease-in-out;
                    transition: all .3s ease-in-out;
                    margin-bottom: 2px;
                }

                &:hover {
                    ul {
                       transform: translateY(0);
                        opacity: 0;
                        visibility: hidden;
                    }
                }
        }

       .content {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            background: $gt-bg-color-2;
            padding: 20px;
            text-align: center;
            opacity: 0;
            visibility: hidden;
            @include transition;

            h3 {
                margin-bottom: 5px;

                a {
                    &:hover {
                        color: $gt-theme-color;
                    }
                }
            }
       }
       

        @include breakpoint (max-lg){
            width: 335px !important;
        }

        &.active {
           width: 335px !important;

            .gt-social-profile  {

                ul {
                     transform: translateY(0);
                    opacity: 1;
                    visibility: visible;
                }
             }

           .content {
                opacity: 1;
                visibility: visible;
           }
        }
    }
}

.gt-team-section-2 {
    position: relative;
    z-index: 9;

     @include breakpoint (max-xl) {
         margin-bottom: 100px;
      }

      @include breakpoint (max-lg) {
         margin-bottom: 80px;
      }

    .gt-team-shape {
        position: absolute;
        right: 0;
        top: 0;

        @include breakpoint (max-xl) {
            display: none;
        }
    }

    .gt-left-shape {
        position: absolute;
        left: 0;
        bottom: 40px;
        z-index: -1;

         @include breakpoint (max-xl) {
            display: none;
        }
    }
}